@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* scroll to top button */
#scroll-to-top {
    display: none;
    width: 55px;
    aspect-ratio: 1/1.3;
    background-color: aqua;
    border-radius: 10px;
    position: fixed;
    bottom: 10dvh;
    right: 0px;
    z-index: 9999;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
@media (min-width:768px) {
    #scroll-to-top:hover {
        box-shadow: 0 0 15px 0 white;
    }
}

/* slideshow */
.slideshow {
    position: relative;
    max-width: 100%;
    aspect-ratio: 3.8/1;
    overflow: hidden;
    border-bottom: 3px solid white;
}
.slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    transition: left 1s ease-in-out, transform 1s ease-in-out;
    object-fit: cover;
}
.from-left {
    transform: translateX(-100%);
}
.from-right {
    transform: translateX(100%); 
}
.slideshow img:nth-child(1) {
    left: 0;
}
.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: lightgray;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
}
.slide-button:hover {
    opacity: 1;
}
.slide-button svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    fill: black;
}
#prevButton {
    left: 2%;
}
#nextButton {
    right: 2%;
}
.tracker {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.tracker-item {
    width: 10px;
    height: 10px;
    background-color: gray;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
}
.tracker-item.active {
    background-color: aqua;
}
@media (max-width:1023px) {
    .slide-button {
        border-radius: 0;
        padding: 0;
        height: 100%;
        width: 25%;
        opacity: 0.3;
    }
    .slide-button svg {
        width: 100%;
        height: 100%;
    }
    #prevButton {
        left: 0;
    }
    #nextButton {
        right: 0;
    }.slide-button:hover {
        opacity: 0.3;
    }
}
@media (max-width:767px) {
    .slideshow {
        aspect-ratio: 2/1;
    }
}

/* index */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar, #coupon-mart .merchants::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-track, #coupon-mart .merchants::-webkit-scrollbar-track {
    background: rgb(73, 73, 73);
}
body::-webkit-scrollbar-thumb, #coupon-mart .merchants::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover, #coupon-mart .merchants::-webkit-scrollbar-thumb:hover {
    background: white;
}
#dropdown::-webkit-scrollbar {
    display: none;
}
html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}
body {
    color: white;
    background: rgb(0, 0, 80);
}
h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
header {
    max-width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: rgba(35, 35, 35, 1);
    border-bottom: 3px solid white;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    min-height: 100px;
    padding: 0 30px;
    z-index: 20;
}
.cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6 {
    padding: 0 10px;
}
.cont-1 {
    width: 200px;
}
.cont-4 {
    min-width: max-content;
}
.cont-6 {
    display: none;
}
.cont-6 img {
    display: block;
    width: 30px;
}
.ec-logo {
    max-width: clamp(145px,100%,100%);
    vertical-align: middle;
}
.nav-bar ul {
    display: flex;
    gap: 30px;
}
.nav-bar ul li, .link {
    padding: 8px;
    width: 120px;
    position: relative;
}
.active-bar {
    padding: 8px;
    width: 120px;
    outline: 2px solid white;
    border-radius: 6px;
    background: aqua;
    color: black;
}
.active {
    color: black;
}
.sub-home a, .sub-product a, .sub-support a {
    color: white;
}
.link {
    color: rgb(190, 190, 190);
}
.sub-home, .sub-product, .sub-support {
    display: none;
}
.sub-home ul li a:hover, .sub-product ul li a:hover, .sub-support ul li a:hover, .link:hover {
    color: aqua;
}
.nav-bar ul li:hover .sub-home, .nav-bar ul li:hover .sub-product, .nav-bar ul li:hover .sub-support {
    display: block;
}
.sub-home ul, .sub-product ul, .sub-support ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    left: 0;
    top: 34.4px;
    border-radius: 6px;
    outline: 2px solid white;
    box-shadow: 0 0 10px white;
    background-color: rgba(35, 35, 35, 1);
}
.sub-home ul li, .sub-product ul li, .sub-support ul li {
    width: 150px;
}
.socials {
    display: flex;
    gap: 10px;
}
.socials img {
    vertical-align: middle;
    max-width: 30px;
    aspect-ratio: 1/1;
    transition: 0.5s;
}
.socials img:hover {
    transform: translateY(-5px);
}
.lang {
    display: flex;
    gap: 6px;
}
.active-lang {
    color: aqua;
}
.not-lang {
    color: white;
}
.not-lang:hover {
    color: aqua;
}
header button {
    color: white;
    padding: 10px 25px;
    font-size: 12px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    width: auto;
    transition: 0.5s;
}
header button:hover {
    transform: translateY(-5px);
    background: aqua;
    color: black;
}
main {
    justify-content: center;
}
main, section, footer {
    padding: 30px 10%;
    display: flex;
    max-width: 100%;
    gap: 50px;
}
section, footer {
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
hr {
    border: none;
    border-top: 3px solid white;
    margin: 30px auto 0;
    width: 80%;
}
footer {
    background-color: rgba(35, 35, 35, 1);
    border-top: 3px solid white;
}
footer .top-foot {
    max-width: 100%;
    display: flex;
    gap: 50px;
}
footer .top-foot ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .top-foot .page-link, footer .top-foot .not-link, footer .top-foot .title {
    font-size: 14px;
}
footer .top-foot .title {
    font-weight: 700;
}
footer .top-foot .page-link, footer .top-foot .not-link {
    color: rgb(190, 190, 190);
}
footer .top-foot .page-link:hover {
    color: aqua;
}
footer .bottom-foot {
    gap: 10px;
}
footer .bottom-foot, footer .bottom-foot .social {
    display: flex;
    align-items: center;
}
footer .bottom-foot .ec-logo {
    width: 300px;
    margin-right: 90px;
}
footer .bottom-foot .social {
    gap: 5px;
}
footer .bottom-foot .social img {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: middle;
    transition: 0.5s;
}
footer .bottom-foot .social img:hover {
    transform: translateY(-5px);
}
footer .bottom-foot .qr-code {
    width: 70px;
    vertical-align: middle;
}
footer .foot-app {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .foot-app .download-app {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
footer .foot-app .foot-store {
    display: flex;
    gap: 5px;
}
footer .foot-app .foot-store img {
    width: 120px;
    vertical-align: middle;
}
footer .copyright {
    font-size: 12px;
}
.left-main, .right-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.left-main img {
    max-width: clamp(200px,45dvw,400px);
}
.app-install {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.app-install .qr-code {
    max-width: 100px;
}
.store-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.store-logo img {
    vertical-align: middle;
    max-width: 120px;
}
.store-logo div {
    font-weight: 600;
    text-align: center;
}
.right-main .title {
    font-size: 60px;
    font-weight: 600;
    text-wrap: balance;
}
.right-main .subtitle {
    font-size: 24px;
    font-weight: 600;
}
.intro {
    display: flex;
    gap: 10px;
    font-size: 12px;
}
.intro div {
    flex-grow: 1;
    flex-basis: 0;
}
.intro .bold-text {
    font-weight: 700;
}
.stats {
    display: flex;
    justify-content: space-around;
}
.stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.stats p {
    font-size: 12px;
    text-align: center;
}
.stats img {
    width: 80px;
}
#demo .subtitle, #rental-procedure .subtitle, #return-procedure .subtitle, #ec-app .subtitle, #app-features .subtitle, #network .subtitle,
#monthly-pass .subtitle, #coupon-mart .subtitle {
    text-align: center;
    font-size: 16px;
}
#demo .video {
    display: flex;
}
#demo .video iframe {
    max-width: clamp(250px,80dvw,100%);
    aspect-ratio: 1.6/1;
}
.rental, .return, .apps, .features {
    display: flex;
    text-align: center;
    gap: 10px;
}
.rental .rental-title, .return .return-title, .apps .apps-title, .features .feature-title {
    font-size: clamp(18px,2.84dvw,24px);
    font-weight: 700;
}
.rental .rental-subtitle, .return .return-subtitle, .apps .apps-subtitle, .features .feature-subtitle {
    font-size: clamp(12px,1.87dvw,16px);
}
.rental .scan, .rental .deposit, .rental .rent, .return .locate, .return .return-2, .return .pay, .return .refund,
.apps .ec, .apps .wechat, .apps .alipay, .features .feature-1, .features .feature-2, .features .feature-3, .features .feature-4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}
.rental img, .return img, .apps img, .features img {
    aspect-ratio: 1/1;
    object-fit:contain;
    margin: 0 auto 10px;
}
.rental img, .apps img {
    max-width: clamp(200px,24dvw,250px);
}
.return img, .features img {
    max-width: clamp(150px,19dvw,250px);
}
.payment {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: minmax(0, auto);
    margin: auto;
}
.payment img {
    width: 150px;
    aspect-ratio: 1.5/1;
    object-fit: contain;
}
.map {
    display: flex;
    justify-content: center;
    max-width: clamp(250px,80dvw,100%);
    aspect-ratio: 1.33/1;
}
#network .download-app {
    padding: 1em;
    border-radius: 15px;
    max-width: clamp(150px,44dvw,250px);
    font-size: clamp(12px,2.15dvw,14px);
    font-weight: bold;
    background: transparent;
    color: white;
    border: 3px solid white;
    text-wrap: balance;
    transition: 0.5s;
}
#network .download-app:hover {
    background: aqua;
    color: black;
    transform: translateY(-5px);
}
#dropdown, #dropdown ul, #dropdown ul li {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#dropdown .icon {
    vertical-align: middle;
    position: absolute;
    top: 35px;
    right: 2em;
}
#dropdown ul li {
    gap: 5px;
}
#dropdown ul li .main-nav {
    font-size: 16px;
    font-weight: 800;
    color: rgb(0, 0, 80);
}
#dropdown ul li .sub-nav {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}
#dropdown .socials {
    justify-content: center;
}
#dropdown .socials img {
    display: flex;
    justify-content: space-between;
    max-width: 30px;
}
#dropdown .lang {
    gap: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    justify-content: center;
}
#dropdown hr {
    max-width: 90%;
    margin: 15px auto 0;
    border: 2px solid white;
    display: none;
}
#dropdown {
    position: fixed;
    top: 0;
    right: -200px;
    z-index: 999;
    margin-left: 40dvw;
    padding: 100px 2em 2em;
    background: rgb(125, 125, 125);
    height: 100dvh;
    overflow: hidden;
    overflow-y: scroll;
    transition: right 0.5s ease-in-out;
}
#dropdown .icon {
    cursor: pointer;
}
#close-icon {
    fill: red;
    vertical-align: middle;
}
@media (max-width:1307px) {
    .features {
        display: flex;
        flex-direction: column;
    }
    .features img {
        max-width: clamp(200px,61.64dvw,450px);
        aspect-ratio: 1/1;
        object-fit:contain;
        margin: 0 auto;
    }
    .features .feature-1, .features .feature-2, .features .feature-3, .features .feature-4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width:1250px) {
    .payment {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        row-gap: 20px;
    }
    .payment img {
        width: clamp(150px,25dvw,300px);
    }
}
@media (max-width:800px) {
    .payment {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 20px;
    }
    .payment img {
        width: clamp(150px,38dvw,300px);
    }
}
@media (max-width:500px) {
    .payment {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 20px;
    }
    .payment img {
        width: clamp(150px,60dvw,300px);
    }
}
@media (max-width:1176px) {
    .right-main .title {
        font-size: 54px;
    }
    .right-main .subtitle {
        font-size: 20px;
    }
}
@media (max-width:1156px) {
    .cont-6 {
        display: block;
        cursor: pointer;
    }
    .cont-2, .cont-3, .cont-4, .cont-5 {
        display: none;
    }
}
@media (max-width:1121px) {
    .intro {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1116px) {
    .right-main .title {
        font-size: 48px;
    }
    .right-main .subtitle {
        font-size: 18px;
    }
}
@media (max-width: 1078px) {
    footer .top-foot .page-link, footer .top-foot .title {
        font-size: 12px;
    }
    footer .bottom-foot .ec-logo {
        width: 250px;
        margin-right: 40px;
    }
}
@media (max-width:1054px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .left-main, .right-main {
        max-width: 600px;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .left-main img {
        max-width: clamp(200px,70dvw,400px);
    }
    .download-store {
        display: flex;
    }
    .download-store img {
        max-width: 120px;
    }
    .stats {
        gap: 20px;
    }
    .app-install .qr-code {
        max-width: clamp(50px,22dvw,100px);
    }
    .store-logo img {
        max-width: clamp(60px,26dvw,120px);
    }
    .store-logo div {
        font-size: clamp(12px,4dvw,16px);
    }
    .stats img {
        max-width: clamp(30px,20dvw,80px);
    }
    .right-main .title {
        font-size: clamp(31px,9.68dvw,48px);
    }
    .right-main .subtitle {
        font-size: clamp(16px,3.63dvw,18px);
    }
}
@media (max-width:960px) {
    footer {
        display: none;
    }
}
@media (max-width:802px) {
    #demo h1, #rental-procedure h1, #return-procedure h1, #ec-app h1, #app-features h1, #network h1, #payment h1 {
        font-size: clamp(32px,7.46dvw,60px);
    }
    #demo .subtitle, #rental-procedure .subtitle, .rental .rental-subtitle, #return-procedure .subtitle, 
    .return .return-subtitle, #ec-app .subtitle, .apps .apps-subtitle, #app-features .subtitle, .features .feature-subtitle, 
    #network .subtitle {
        font-size: clamp(12px,2dvw,16px);
    }
}
@media (max-width:787px) {
    .return {
        display: flex;
        flex-direction: column;
    }
    .return img {
        max-width: clamp(200px,61.64dvw,450px);
        aspect-ratio: 1/1;
        object-fit:contain;
        margin: 0 auto;
    }
    .return .locate, .return .return-2, .return .pay, .return .refund {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width:774px) {
    .rental, .apps {
        display: flex;
        flex-direction: column;
    }
    .rental img, .apps img {
        max-width: clamp(200px,61.64dvw,450px);
        aspect-ratio: 1/1;
        object-fit:contain;
        margin: 0 auto;
    }
    .rental .scan, .rental .deposit, .rental .rent, .apps .ec, .apps .wechat, .apps .alipay {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (min-width:774px) and (max-width:1181px) {
    .apps .apps-title {
        display: flex;
        min-height: 74px;
        align-items: center;
        margin: auto;
    }
    .apps .apps-subtitle {
        display: flex;
        min-height: 72px;
        align-items: top;
        margin: auto;
    }
}
@media (min-width:1307px) and (max-width:1624px) {
    .features .feature-title {
        display: flex;
        min-height: 74px;
        align-items: center;
        margin: auto;
    }
}
@media (min-width:1307px) and (max-width:2030px) {
    .features .feature-subtitle {
        display: flex;
        min-height: 72px;
        align-items: top;
        margin: auto;
    }
}
@media (max-aspect-ratio:4/4) {
    .map {
        aspect-ratio: 1/1.33;
    }
}

/* products and services */
#original-station h1 {
    font-size: clamp(48px,4.8dvw,60px);
}
.big-screen-powerbank .specs {
    width: 310px;
    align-items: center;
}
.big-screen-powerbank img {
    margin: auto 0;
    width: 100%;
}
#powerbank .container {
    margin: 0 auto;
}
#powerbank .top-specs, #powerbank .bottom-specs {
    display: flex;
    gap: 20px;
}
#powerbank .top-specs .specs, #powerbank .bottom-specs .specs {
    display: flex;
    flex-direction: column;
}
#powerbank .top-specs .title, #powerbank .bottom-specs .title {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    min-height: 55px;
    justify-content: center;
    align-items: center;
}
#powerbank .top-specs ul, #powerbank .bottom-specs ul {
    font-size: 14px;
    height: 125px;
}
#powerbank .top-specs ul li, #powerbank .bottom-specs ul li, .charging-station .specs ul li {
    list-style: square;
    margin-left: 1.5em;
}
.small-screen-powerbank {
    display: none;
}
.powerbank-hr {
    margin: 0 auto;
    width: 60%;
}
.charging-station {
    display: flex;
    gap: 10px;
}
#original-station .charging-station img, #derived-station .charging-station img {
    display: flex;
    margin: 0 auto;
    max-width: clamp(150px,20dvw,300px);
    aspect-ratio: 1/1;
    object-fit: contain;
}
#derived-station .charging-station img {
    max-width: clamp(200px,20dvw,250px);
    aspect-ratio: 1/1.5;
}
.charging-station .specs ul li {
    font-size: clamp(12px,1dvw,16px);
}
.charging-station .title {
    font-size: clamp(16px,1.6dvw,24px);
    font-weight: 700;
    text-align: center;
}
.charging-station .slot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    flex-basis: 0;
}
#monthly-pass .tnc {
    font-size: 12px;
    color: white;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 0.35rem;
}
#monthly-pass .big-font {
    font-size: clamp(24px,4.6dvw,36px);
    font-weight: bold;
}
#monthly-pass .perks {
    display: flex;
    gap: 50px;
    margin: 0 auto;
}
#monthly-pass .perks .pass {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#monthly-pass .perks .title {
    width: clamp(250px,19.4dvw,280px);
    font-size: clamp(12px,0.9dvw,16px);
    font-weight: 700;
    margin: auto;
    border: 3px solid white;
    border-radius: 20px;
    padding: 0.625em;
    background: aqua;
    color: black;
    margin-bottom: 20px;
}
#monthly-pass .perks img {
    max-width: clamp(300px,24dvw,350px);
    border: 3px solid white;
    border-radius: 30px;
    aspect-ratio: 1.57/1;
    object-fit: contain;
}
#monthly-pass .perks .price {
    font-size: 16px;
}
#monthly-pass .perks .pass button {
    font-size: clamp(12px,0.96dvw,14px);
    font-weight: 600;
    margin: auto;
    padding: 0.36em;
    width: 120px;
    border: 3px solid white;
    border-radius: 10px;
    background: aquamarine;
    color: black;
    margin-top: 5px;
    transition: 0.5s;
}
#monthly-pass .perks .pass button:hover {
    transform: translateY(-5px);
}
#coupon-mart .merchants {
    background: white;
    width: clamp(250px,80dvw,1100px);
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}
#coupon-mart .button-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: minmax(0, auto);
    column-gap: clamp(0,1.8dvw,10px);
}
#coupon-mart .button-container button {
    width: clamp(100px,10.68dvw,125px);
    font-size: clamp(12px,1.2dvw,16px);
    padding: 0.3em;
}
#coupon-mart .collection {
    padding: 10px 10px;
    display: none;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: minmax(0, auto);
    gap: 5px;
}
#coupon-mart .collection img {
    display: block;
    margin: auto;
    width: 100%;
}
#coupon-mart .active-btn {
    background: aqua;
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    color: black;
}
#coupon-mart .not-active {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
#coupon-mart .not-active:hover {
    color: aqua;
}
@media (max-width:1215px) {
    .big-screen-powerbank .specs .title {
        font-size: 16px;
    }
    .big-screen-powerbank  .specs li {
        font-size: 12px;
    }
    .big-screen-powerbank  .top-specs, .big-screen-powerbank  .bottom-specs {
        gap: 0;
    }
}
@media (min-width:940px) and (max-width:1165px) {
    #powerbank .specs {
        width: clamp(250px,26dvw,310px);
    }
}
@media (max-width:939px) {
    .big-screen-powerbank {
        display: none;
    }
    .small-screen-powerbank {
        display: flex;
    }
    .small-screen-powerbank .top-container {
        display: flex;
        align-items: center;
    }
    .top-container .border {
        border-top: 3px solid white;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .top-container .specs {
        padding: 1em 2em;
        width: clamp(300px,43.2dvw,380px);
    }
    .top-container .title {
        text-align: center;
        font-weight: 700;
        font-size: clamp(16px,2dvw,24px);
    }
    .top-container img {
        width: clamp(250px,36.4dvw,320px);
    }
    .bottom-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .bottom-container .title {
        font-size: clamp(16px,2dvw,24px);
        font-weight: 700;
    }
    .bottom-container .specs ul li, .top-container .specs ul li {
        font-size: clamp(12px,1.2dvw,16px);
    }
}
@media (max-width:700px) {
    .top-container img {
        width: clamp(250px,70dvw,350px);
    }
    .small-screen-powerbank .top-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .top-container .border {
        border: 3px solid white;
        border-radius: 20px;
    }
    .top-container .specs {
        width: clamp(250px,80dvw,400px);
    }
    .top-container .title {
        font-size: clamp(14px,4.3dvw,24px);
    }
    .bottom-container .title {
        font-size: clamp(16px,4.4dvw,24px);
    }
    .top-container .specs ul li {
        font-size: clamp(10px,2.9dvw,16px);
    }
    .bottom-container .specs ul li {
        font-size: clamp(12px,2.9dvw,16px)
    }
}
@media (max-width:1000px) {
    #coupon-mart .button-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: minmax(0, auto);
        row-gap: 10px;
        column-gap: 50px;
    }
}
@media (max-width:690px) {
    #coupon-mart .button-container {
        column-gap: 30px;
    }
}
@media (max-width:615px) {
    #coupon-mart .button-container {
        column-gap: 15px;
    }
}
@media (max-width:550px) {
    #coupon-mart .button-container {
        column-gap: 0px;
    }
}
@media (max-width:774px) {
    #original-station h1, #derived-station h1, #monthly-pass h1, #coupon-mart h1, #powerbank h1, #FAQ h1, #collab h1, #contact-us h1 {
        font-size: clamp(32px,7dvw,60px);
    }
    #monthly-pass .subtitle, #coupon-mart .subtitle {
        font-size: clamp(12px,2dvw,16px);
    }
    .charging-station {
        display: flex;
        flex-direction: column;
    }
    #original-station .charging-station img {
        max-width: clamp(200px,45dvw,300px);
    }
    #derived-station .charging-station img {
        max-width: clamp(200px,32dvw,250px);
    }
    .charging-station .specs ul li {
        font-size: clamp(12px,3dvw,16px);
    }
    .charging-station .title {
        font-size: clamp(16px,4dvw,24px);
    }
}
@media (max-width:600px) {
    #coupon-mart .collection {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: minmax(0, auto);
    }
}
@media (max-width:500px) {
    #coupon-mart .button-container button {
        font-size: clamp(8px,2.4dvw,12px);
        width: clamp(60px,20dvw,100px);
    }
}
@media (max-width:1249px) {
    #monthly-pass .perks {
        display: flex;
        flex-direction: column;
    }
    #monthly-pass .perks .title {
        width: clamp(250px,24dvw,300px);
        font-size: clamp(12px,1.28dvw,16px);
    }
    #monthly-pass .perks img {
        max-width: clamp(250px,55dvw,350px);
        margin: auto;
    }
    #monthly-pass .perks .price {
        font-size: clamp(16px,1.67dvw,24px);
    }
    #monthly-pass .perks .pass button {
        font-size: clamp(14px,1.67dvw,24px);
        width: clamp(150px,16dvw,200px);
    }
}
@media (max-width:450px) {
    #monthly-pass .perks .price {
        font-size: 14px;
    }
    #monthly-pass .perks .pass button {
        font-size: 12px;
        width: 150px;
    }
}

/* support */
.faq-hr {
    border-style: dashed;
    border-width: 2px;
    width: 100%;
    margin: 0;
}
.qna {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
}
#contact-us p {
    text-align: center;
}
#contact-us div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-box label, .input-box-desc label, .input-box input, .input-box-desc input, .input-box-desc textarea {
    padding: 10px 20px;
    border-radius: 5px;
}
.input-box input, .input-box-desc textarea, #collab .submit {
    border: 2px solid white;
}
.input-box label, .input-box-desc label, .input-box input, .input-box-desc input {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}
.input-box-desc textarea {
    resize: vertical;
    box-sizing: border-box;
    width: 730px;
    max-height: 300px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: top;
    font-size: 16px;
}
#collab .submit {
    font-size: 14px;
    width: 100px;
    padding: 0.36em;
    border-radius: 10px;
    letter-spacing: 1px;
    background: aquamarine;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}
#collab .submit:hover {
    transform: translateY(-5px);
}
#collab label {
    font-weight: 600;
}
#collab form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#collab form .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 30px;
    justify-content: center;
}
.input-box input {
    font-size: 16px;
}
.message {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.message .warning {
    color: red;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    animation: buttons .35s linear;
    display: none;
}
@keyframes buttons {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media (max-width:912px) {
    .input-box label, .input-box-desc label, .input-box input, #collab .form textarea {
        width: clamp(250px,80dvw,500px);
        font-size: clamp(12px,1.75dvw,16px);
    }
    #collab .submit {
        font-size: clamp(12px,2dvw,14px);
    }
}
@media (max-width:773px) {
    .qna h2 {
        font-size: clamp(16px,3.1dvw,24px);
    }
    .qna p, #contact-us p {
        font-size: clamp(12px,2dvw,16px);
    }
}